@import url("./normalize.css");

body {
    background-color: #ffffff;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;}
header{
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    flex-direction: column;
    margin: 0 auto;
}
.logo{ 
    display: flex;
    justify-content: flex-start;
    width: 105px;
    height: 39px;
    margin-top: 30px;
    margin-left: 30px;
} 
.nav-links{
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    margin-right: 26px;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.span-accent{
    max-width: 790px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 58px;
    line-height: 72px;
    color: #ff976b;
}
.header-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
    max-width: 709px;
    margin-top: 183px;
}
.header-image{
    position: absolute;
     width: 646px;
     height: 568px;
     right: 5px;
     top: 124px;
}
.header-description{
    max-width: 683px;
    height: 80px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-top: 28px;
}
.header-info{
    display: flex;
    justify-content: space-between;
    color: #6f6f6f;
    bottom: 80px;
    right: 40px;
    margin-top: auto;
}

.background-header-image{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;}
main{
    background: #ffd6c5 url("./images/background_reservation.svg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.reservation__title{
    margin-top: 100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.reservation__form{
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 385px;
    justify-content: center;
}
.reservation__form-label{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;

}
.reservation__form-input{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.checkbox__terms{
    display: flex;
    justify-content: center;
}
.checkbox__terms_button{
    margin-right: 10px;
    border-radius: 2px;
}
.reservation__form-button{
    background-color: #d35722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;

}
footer{
    background: #d35722 url("./images/background_footer.svg");
    display: flex;
    justify-content: space-between;
}